::ng-deep .rounded-search {
  --mdc-outlined-text-field-container-shape: 25px;
}

@keyframes zoomInOut {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
}

.animate-zoom-in-out {
  animation: zoomInOut 2s ease-in-out infinite;
}
