<div class="bg-white dark:bg-gray-800 rounded-2xl shadow-2xl p-6 h-full flex flex-col hover:scale-105">
    <h2 class="text-xl font-semibold mb-6">{{ title }}</h2>
    <div class="space-y-4">
        <ng-container *ngFor="let item of items">
            <div class="flex items-center justify-between mb-2">
                <div class="flex items-center gap-2">
                    <mat-icon>{{ iconMap[item.name] || fallbackIcon }}</mat-icon>
                    <span class="text-sm font-medium text-gray-700 dark:text-gray-300">
                        {{ item.name }} ({{ item.value }})
                    </span>
                </div>
                <span class="text-sm font-semibold text-gray-600 dark:text-gray-300">
                    {{ item.percentage }}%
                </span>
            </div>

            <mat-progress-bar *ngIf="showProgressBar" mode="determinate" [value]="item.percentage"
                class="rounded-full h-2 mb-4">
            </mat-progress-bar>
        </ng-container>
        <div *ngIf="items.length === 0"
            class="bg-gray-100 dark:bg-gray-700/50 rounded-xl w-full  flex items-center justify-center h-40">
            <p class="text-gray-400 p-2">{{ emptyText }}</p>
        </div>
    </div>
</div>