.btn-primary {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: all 0.3s ease;
  background-color: var(--primary-color);
  color: #ffffff;
  cursor: pointer;

  &:hover {
    filter: brightness(80%);
    transform: translateY(-3px);
  }

  &:disabled {
    background-color: color-mix(
      in srgb,
      var(--primary-color) 60%,
      var(--background-color)
    );
    color: color-mix(in srgb, var(--text-color) 60%, var(--background-color));
    cursor: not-allowed;
    transform: none;
    filter: none;
  }
}

mat-error {
  margin-left: -1rem;
}
