<div class="flex flex-col min-h-screen bg-[var(--background-color)] text-[var(--text-color)]">
  <app-user-header></app-user-header>

  <!-- Main Content -->
  <div class="flex-1 flex flex-col md:flex-row">
    <!-- Left Side (Illustration) -->
    <div
      class="w-full md:w-1/2 flex items-center justify-center bg-white dark:bg-gray-900 overflow-hidden relative p-6">
      <img src="assets/Reset password (1).gif" alt="Reset password Illustration"
        class="max-h-[500px] w-full object-contain dark:hidden" />
      <img src="assets/Reset password (2).gif" alt="Reset password Illustration"
        class="max-h-[500px] w-full object-contain hidden dark:block" />
    </div>

    <!-- Right Side (Form) -->
    <div class="w-full md:w-1/2 flex items-center justify-center bg-white dark:bg-gray-900 p-8">
      <div class="w-full max-w-md bg-gray-100 dark:bg-gray-800 rounded-2xl p-6 shadow-2xl">
        <h1 class="text-2xl font-bold mb-4 text-center  text-primary dark:text-blue-500">Reset Password</h1>
        <p class="mb-6 text-center text-gray-500 dark:text-gray-300">
          Enter the OTP sent to your email and choose a new password
        </p>

        <form [formGroup]="resetForm" (ngSubmit)="onResetPassword()">

          <mat-form-field appearance="outline" class="w-full mb-4">
            <mat-label>OTP</mat-label>
            <mat-icon matPrefix>vpn_key</mat-icon>
            <input matInput type="text" placeholder="Enter OTP" formControlName="otp">
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-full mb-4">
            <mat-label>New Password</mat-label>
            <mat-icon matPrefix>lock</mat-icon>
            <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="Enter new password"
              formControlName="password">
            <button mat-icon-button matSuffix type="button" (click)="togglePassword()">
              <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
          </mat-form-field>

          <button class="btn-primary w-full" [disabled]="resetForm.invalid || isLoading">
            Reset Password
          </button>
        </form>

        <div class="mt-6 text-center text-base sm:text-lg font-semibold">
          <a class="text-blue-600 dark:text-blue-400 cursor-pointer hover:text-blue-700 hover:dark:text-blue-500 hover:underline" (click)="navigateToLogin()">
            Back to Sign In
          </a>
        </div>
      </div>
    </div>
  </div>

  <app-user-footer></app-user-footer>
</div>