<div
    class="hidden sm:block bg-white dark:bg-gray-800 rounded-2xl shadow-2xl overflow-x-auto border border-gray-200 dark:border-gray-700">
    <table mat-table [dataSource]="dataSource" class="w-full bg-white dark:bg-gray-800 ">

        <!-- Timestamp Column -->
        <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef class="px-4 py-2 whitespace-nowrap">Time</th>
            <td mat-cell *matCellDef="let element" class="px-4 py-2 whitespace-nowrap">
                <div class="flex items-center font-medium">
                    <mat-icon class="mr-2 text-gray-600 dark:text-gray-400">schedule</mat-icon>
                    {{ element.timestamp | date:'short' }}
                </div>
            </td>
        </ng-container>

        <!-- Short URL Column -->
        <ng-container matColumnDef="shortUrl">
            <th mat-header-cell *matHeaderCellDef class="px-4 py-2 whitespace-nowrap">Short URL</th>
            <td mat-cell *matCellDef="let element" class="px-4 py-2 whitespace-nowrap">
                <div class="flex items-center">
                    <mat-icon class="mr-2">link</mat-icon>
                    <a href="{{ element.shortUrl }}" target="_blank" class="text-blue-500 hover:underline">
                        {{ element.shortUrl | capitalize}}
                    </a>
                </div>
            </td>
        </ng-container>

        <!-- Location Column -->
        <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef class="px-4 py-2 whitespace-nowrap">Location</th>
            <td mat-cell *matCellDef="let element" class="px-4 py-2 whitespace-nowrap">
                <div class="flex items-center gap-2">
                    <span *ngIf="element.country; else normalIcon" [class]="getFlagClass(element.country)"></span>
                    <ng-template #normalIcon>
                        <mat-icon>{{ fallbackIcon }}</mat-icon>
                    </ng-template>
                    {{ getCountryName(element.country) | capitalize}}
                </div>
            </td>
        </ng-container>

        <!-- Device Column -->
        <ng-container matColumnDef="device">
            <th mat-header-cell *matHeaderCellDef class="px-4 py-2 whitespace-nowrap">Device</th>
            <td mat-cell *matCellDef="let element" class="px-4 py-2 whitespace-nowrap">
                <div class="flex items-center">
                    <i class="mr-2"
                        [ngClass]="deviceIconMap[element.device?.charAt(0).toUpperCase() + element.device?.slice(1)] || deviceIconMapFallbackIcon">
                    </i>
                    {{element.device | capitalize }}
                </div>
            </td>
        </ng-container>

        <!-- Referrer Column -->
        <ng-container matColumnDef="referrer">
            <th mat-header-cell *matHeaderCellDef class="px-4 py-2 whitespace-nowrap">Referrer</th>
            <td mat-cell *matCellDef="let element" class="px-4 py-2 whitespace-nowrap">
                <div class="flex items-center">
                    <i class="mr-2"
                        [ngClass]="referrerIconMap[getReferrerKey(element.referrer)] || referrerIconMapFallbackIcon">
                    </i>
                    {{ element.referrer | capitalize }}
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>


<div class="flex flex-col gap-4 sm:hidden mt-4">
    <ng-container *ngFor="let element of dataSource">
        <div class="bg-white dark:bg-gray-800 rounded-2xl shadow p-4 border border-gray-200 dark:border-gray-700">

            <!-- Time -->
            <div class="flex justify-between items-center mb-2">
                <span class="font-semibold text-gray-600 dark:text-gray-400">Time:</span>
                <span class="text-gray-800 dark:text-gray-100 truncate">{{ element.timestamp | date:'short' }}</span>
            </div>

            <!-- Short URL -->
            <div class="flex justify-between items-center mb-2">
                <span class="font-semibold text-gray-600 dark:text-gray-400">Short URL:</span>
                <a href="{{ element.shortUrl }}" target="_blank"
                    class="text-blue-500 hover:underline truncate max-w-[60%] block">
                    {{ element.shortUrl | capitalize }}
                </a>
            </div>

            <!-- Location -->
            <div class="flex justify-between items-center mb-2">
                <span class="font-semibold text-gray-600 dark:text-gray-400">Location:</span>
                <span class="text-gray-800 dark:text-gray-100 truncate"> <ng-container
                        *ngIf="element.country && element.country !== 'Unknown'; else normalIcon">
                        <span class="fi fi-{{ element.country | lowercase }}"></span>
                    </ng-container>
                    <ng-template #normalIcon>
                        <mat-icon>{{fallbackIcon}}</mat-icon>
                    </ng-template>
                    {{ getCountryName(element.country) | capitalize }}
                </span>
            </div>

            <!-- Device -->
            <div class="flex justify-between items-center mb-2">
                <span class="font-semibold text-gray-600 dark:text-gray-400">Device:</span>
                <div class="flex items-center gap-1 truncate max-w-[60%]">
                    <i
                        [ngClass]="deviceIconMap[element.device?.charAt(0).toUpperCase() + element.device?.slice(1)] || deviceIconMapFallbackIcon"></i>
                    <span class="truncate">{{element.device | capitalize }}</span>
                </div>
            </div>

            <!-- Referrer -->
            <div class="flex justify-between items-center">
                <span class="font-semibold text-gray-600 dark:text-gray-400">Referrer:</span>
                <div class="flex items-center gap-1 truncate max-w-[60%]">
                    <i [ngClass]="referrerIconMap[getReferrerKey(element.referrer)] || referrerIconMapFallbackIcon"></i>
                    <span class="truncate">{{ element.referrer | capitalize }}</span>
                </div>
            </div>

        </div>
    </ng-container>
</div>