<header class="flex justify-between items-center h-20 px-4 shadow-md transition-all duration-300 ease-in-out">

  <div class="flex items-center gap-4 max-w-7xl w-full h-full">
    <!-- Menu Button -->
    <button mat-icon-button (click)="toggleSidebar.emit()" class="hover:bg-gray-200 dark:hover:bg-gray-700">
      <mat-icon [class.rotate-180]="sidebarState === 2" class="flex items-center transition-transform duration-500">{{
        toggleIcon }}</mat-icon>
    </button>

    <!-- Search Bar -->
    <div *ngIf="!isSmallDevice" class="flex-1 flex items-center h-full max-w-xl ">
      <mat-form-field appearance="outline" class="w-full h-14 self-center rounded-search">
        <mat-label>Search...</mat-label>
        <mat-icon matPrefix class="text-gray-500">search</mat-icon>
        <input matInput placeholder="Search here" class="text-gray-800 dark:text-gray-200"
          [formControl]="searchControl" />
        <button mat-icon-button matSuffix (click)="clearSearch()"
          class="mr-2 text-gray-500 hover:bg-gray-200 dark:hover:bg-gray-700">
          <mat-icon class="flex items-center">cancel</mat-icon>
        </button>
      </mat-form-field>
    </div>

  </div>

  <!-- Actions -->
  <div class="flex items-center gap-2 sm:gap-4 ml-4 ">

    <!-- Mobile Search Toggle Button -->
    <button *ngIf="isSmallDevice" mat-icon-button (click)="toggleMobileSearch()"
      class="text-gray-600 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700">
      <mat-icon class="flex items-center">{{ showMobileSearch ? 'close' : 'search' }}</mat-icon>
    </button>

    <!-- Toggle Theme Button -->
    <app-theme-toggle [mode]="'adminMode'"></app-theme-toggle>

    <!-- Notification Button -->
    <button mat-icon-button (click)="showNotificationsMenu = !showNotificationsMenu"
      class="relative text-gray-600 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700">

      <mat-icon [ngClass]="{'animate-slow-ring': totalUnread() > 0}">
        notifications_active
      </mat-icon>

      <span *ngIf="totalUnread() > 0"
        class="absolute top-0 right-0 -mt-1 -mr-1 px-1 sm:px-2 py-1 text-xs font-bold bg-red-600 text-white rounded-full animate-bounce">
        {{ totalUnread() }}
      </span>
    </button>

    <!-- Notification Menu Component -->
    <div *ngIf="showNotificationsMenu" (appClickOutside)="showNotificationsMenu = false"
      class="absolute top-20 right-3 z-50">

      <app-notification-menu [role]="'admin'" (menuClosed)="showNotificationsMenu = false"></app-notification-menu>
    </div>

    <!-- Profile Dropdown -->
    <div class="relative" *ngIf="isAdmin() && admin() as u">
      <!-- Profile Button -->
      <div (click)="toggleProfileMenu()"
        class="flex items-center gap-2 pl-2 pr-3 py-2 rounded-full cursor-pointer bg-blue-200 dark:bg-blue-400 transition-colors duration-200">
        <!-- Avatar -->
        <img [src]="'https://api.dicebear.com/7.x/initials/svg?seed=' + u.username" alt="{{ u.username }}"
          class="h-10 w-10 rounded-full border-2 border-white object-cover flex-shrink-0 ring-2 ring-black" />

        <!-- Name -->
        <span *ngIf="!isSmallDevice" class="text-sm font-medium truncate max-w-[120px]">
          {{ u.username | slice:0:5 | titlecase }}
        </span>

        <!-- Dropdown Icon -->
        <mat-icon class="flex-shrink-0">
          expand_more
        </mat-icon>
      </div>

      <!-- Dropdown Menu -->
      <div *ngIf="showProfileMenu" (appClickOutside)="showProfileMenu = false"
        class="absolute right-0 mt-2 w-52 xs:w-56 sm:w-60 bg-white dark:bg-gray-800 rounded-xl shadow-lg border border-gray-200 dark:border-gray-700 z-50 transform origin-top-right transition-all duration-200 ease-out">

        <div class="p-2">
          <div class="flex items-center px-3 py-2 space-x-3 text-sm bg-gray-100 dark:bg-gray-700 rounded-lg">
            <img class="w-9 h-9 rounded-full flex-shrink-0"
              [src]="'https://api.dicebear.com/7.x/initials/svg?seed=' + u.username" alt="{{ u.username }}">

            <div class="min-w-0 flex-grow">
              <div class="flex items-center justify-between">
                <div class="font-medium text-sm font-sans truncate pr-1">
                  {{ u.username | slice:0:5 | titlecase }}
                </div>
                <span
                  class="bg-green-600 hover:bg-green-700 text-white text-xs font-bold px-1.5 py-0.5 rounded flex-shrink-0 ms-auto">
                  {{ u.role }}
                </span>
              </div>

              <div class="text-xs text-gray-700 dark:text-gray-300 truncate">{{ u.email }}</div>
            </div>
          </div>
        </div>

        <div class="px-2 pb-2 space-y-1">

          <a *ngFor="let item of adminMenu" [routerLink]="item.link" routerLinkActive="bg-blue-100 dark:bg-blue-900/60"
            [queryParams]="item.label === 'Profile' ? { tab: 'profile' } : null" class="group flex items-center gap-2 px-3 py-2 text-sm rounded-lg w-full
            text-gray-700 dark:text-gray-300
            hover:bg-gray-200 dark:hover:bg-gray-700 transition">
            <mat-icon
              class="text-xl text-gray-700 dark:text-gray-300 group-hover:text-blue-700 dark:group-hover:text-blue-500 flex-shrink-0">
              {{ item.icon }}
            </mat-icon>
            <span
              class="text-gray-700 dark:text-gray-300 group-hover:text-blue-700 dark:group-hover:text-blue-500 truncate">
              {{ item.label }}
            </span>
          </a>

          <mat-divider></mat-divider>

          <a (click)="logout()" class="group flex items-center gap-2 px-3 py-2 text-sm rounded-lg cursor-pointer w-full
          hover:bg-red-100 dark:hover:bg-red-700/30 transition">
            <mat-icon class="text-red-600 dark:text-red-500 text-xl flex-shrink-0">logout</mat-icon>
            <span class="text-red-600 dark:text-red-500 ">Logout</span>
          </a>

        </div>

      </div>
    </div>

  </div>
</header>

<!-- Mobile Search Panel (dropdown) -->
<div *ngIf="isSmallDevice && showMobileSearch"
  class="bg-white dark:bg-gray-900 px-4 pb-4 flex items-center justify-center border-b border-gray-200 dark:border-gray-700">
  <mat-form-field appearance="outline" class="w-11/12 h-14 self-center rounded-search">
    <mat-label>Search...</mat-label>
    <mat-icon matPrefix class="text-gray-500">search</mat-icon>
    <input matInput placeholder="Search here" class="text-gray-800 dark:text-gray-200" [formControl]="searchControl" />
    <button mat-icon-button matSuffix (click)="clearSearch()"
      class="mr-2 text-gray-500 hover:bg-gray-200 dark:hover:bg-gray-700">
      <mat-icon class="flex items-center">cancel</mat-icon>
    </button>
  </mat-form-field>
</div>