<div class="min-h-screen flex flex-col transition-colors duration-300">
  <!-- Header -->
  <app-user-header></app-user-header>

  <!-- Main -->
  <main class="flex-grow flex items-center justify-center px-4 py-8 sm:py-12">
    <section class="text-center max-w-6xl mx-auto w-full">
      <div class="mb-8 sm:mb-12">
        <h1
          class="text-3xl sm:text-4xl md:text-6xl font-bold mb-4 sm:mb-6 bg-gradient-to-r from-[color:var(--primary-color)] to-[color:var(--accent-color)] bg-clip-text text-transparent">
          Shorten. Share. Track.
        </h1>
        <p class="text-base sm:text-xl opacity-90 max-w-3xl mx-auto px-4">
          Transform long links into concise, trackable URLs and QR codes in seconds
        </p>
      </div>

      <div class="p-4 sm:p-8 max-w-4xl mx-auto w-full">
        <form [formGroup]="urlForm" (ngSubmit)="onSubmit()">
          <div class="relative group">
            <div
              class="absolute -inset-2 bg-gradient-to-r from-[color:var(--primary-color)] to-[color:var(--accent-color)] rounded-full blur opacity-40 group-hover:opacity-60 transition duration-300">
            </div>

            <div class="relative flex flex-col sm:block">
              <div class="relative w-full">
                <input type="url" id="urlInput" placeholder=" " formControlName="originalUrl" [ngClass]="{'border-red-500 focus:border-red-500 focus:ring-red-500/30':
                (submitted && urlForm.get('originalUrl')?.hasError('required')) ||(urlForm.get('originalUrl')?.hasError('pattern') && urlForm.get('originalUrl')?.touched) ||
                (submitted && urlForm.errors?.['alreadyShort']),'border-green-500 focus:border-green-500 focus:ring-green-500/30':urlForm.get('originalUrl')?.valid && !urlForm.errors?.['alreadyShort']
                }" (blur)="urlForm.get('originalUrl')?.markAsTouched()" class="peer w-full p-4 pr-28 sm:pr-32 rounded-full 
                bg-[var(--background-color)] text-[var(--text-color)] border-2 border-[var(--text-color)] focus:outline-none focus:ring-0 focus:ring-[var(--primary-color)]/30 focus:border-[var(--primary-color)] 
                placeholder-transparent transition-all duration-200 text-sm sm:text-base truncate" />

                <label for="urlInput" [ngClass]="{'text-red-500':(submitted && urlForm.get('originalUrl')?.hasError('required')) 
                  ||(urlForm.get('originalUrl')?.hasError('pattern') && urlForm.get('originalUrl')?.touched) ||(submitted && urlForm.errors?.['alreadyShort']),
                  'text-green-500':urlForm.get('originalUrl')?.valid && !urlForm.errors?.['alreadyShort']}"
                  class="absolute left-4 sm:left-6 -translate-y-1/2 text-[var(--text-color)] 
                     transition-all duration-200 pointer-events-none px-2 bg-[var(--background-color)]
                     peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm sm:peer-placeholder-shown:text-base 
                     peer-focus:top-0 peer-focus:text-xs sm:peer-focus:text-sm  peer-focus:opacity-100 peer-[:not(:placeholder-shown)]:top-0 peer-[:not(:placeholder-shown)]:text-xs sm:peer-[:not(:placeholder-shown)]:text-sm">
                  Enter your URL here
                </label>

                <button type="submit" [disabled]="urlForm.pristine || urlForm.invalid || isLoading"
                  class="absolute top-1/2 right-2 -translate-y-1/2 p-3 rounded-full 
                     bg-gradient-to-r from-[color:var(--primary-color)] to-[color:var(--accent-color)] 
                     text-white font-bold transition-all duration-200 hover:shadow-lg hover:from-blue-600 hover:to-purple-700
                     text-sm sm:text-base hover:scale-105 active:scale-95 w-24 sm:w-auto disabled:opacity-50 disabled:cursor-not-allowed">
                  <span class="hidden sm:inline">✨ </span>Shorten
                </button>
              </div>
            </div>
          </div>

          <div *ngIf="submitted && urlForm.get('originalUrl')?.hasError('required')" class="mt-2 text-sm text-red-500">
            URL is required.
          </div>

          <div *ngIf="urlForm.get('originalUrl')?.touched && urlForm.get('originalUrl')?.hasError('pattern')"
            class="mt-2 text-sm text-red-500">
            Please enter a valid URL starting with http:// or https://
          </div>

          <div *ngIf="submitted && urlForm.errors?.['alreadyShort']" class="mt-2 text-sm text-red-500">
            This URL is already short and does not need to be shortened again.
          </div>

          <!-- Customize URL Section -->
          <div class="flex justify-end mt-4 mr-2 items-center ms-4" *ngIf="settings?.urlSettings?.urlCustomization"
            [formGroup]="urlForm">
            <mat-slide-toggle formControlName="customizeEnabled" labelPosition="before">
              <span class="mr-2 font-extrabold text-lg text-black dark:text-white">Customize Now</span>
            </mat-slide-toggle>
          </div>

          <!-- Custom Options (Only if toggle is ON) -->
          <div *ngIf="urlForm.get('customizeEnabled')?.value" class="mt-6 space-y-4">

            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">

              <!-- Custom Short Code -->
              <mat-form-field appearance="outline" class="w-full" *ngIf="settings?.urlSettings?.allowCustomSlugs">
                <mat-label>Custom Short Code</mat-label>
                <mat-icon matPrefix>link</mat-icon>
                <input matInput formControlName="customCode" placeholder="e.g. my-custom-link" [minlength]="4"
                  [maxlength]="settings?.urlSettings?.defaultLength || 8" />
                <mat-error *ngIf="urlForm.get('customCode')?.hasError('minlength')">
                  Minimum 4 characters required.
                </mat-error>
                <mat-error *ngIf="urlForm.get('customCode')?.hasError('maxlength')">
                  Maximum {{settings?.urlSettings?.defaultLength || 8}} characters allowed.
                </mat-error>
                <mat-error *ngIf="urlForm.get('customCode')?.hasError('pattern')">
                  Only letters, numbers, underscores (_), or hyphens (-) are allowed.
                </mat-error>
              </mat-form-field>

              <!-- Expiry in Days -->
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Expiry in Days</mat-label>
                <mat-icon matPrefix>schedule</mat-icon>
                <input matInput type="number" formControlName="expiryDays" [min]="0"
                  [max]="settings?.urlSettings?.expirationDaysLimit || 100"
                  placeholder="Enter a number from 0 to {{settings?.urlSettings?.expirationDaysLimit || 365}}" />
                <mat-hint>Enter 0 for no expiration, max {{settings?.urlSettings?.expirationDaysLimit || 365}}
                  days</mat-hint>
                <mat-error *ngIf="urlForm.get('expiryDays')?.hasError('min')">Minimum is 0</mat-error>
                <mat-error *ngIf="urlForm.get('expiryDays')?.hasError('max')">Maximum is
                  {{settings?.urlSettings?.expirationDaysLimit || 100}}</mat-error>
              </mat-form-field>

              <!-- Expiry Date (read-only) -->
              <mat-form-field appearance="outline" class="w-full" *ngIf="urlForm.value.expiryDays > 0">
                <mat-label>Expiry Date</mat-label>
                <mat-icon matPrefix>event</mat-icon>
                <input matInput [value]="todayPlusDays(urlForm.value.expiryDays) | date:'dd-MM-yyyy'" readonly />
              </mat-form-field>

              <!-- Click Limit -->
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Click Limit</mat-label>
                <mat-icon matPrefix>mouse</mat-icon>
                <input matInput type="number" formControlName="clickLimit" [min]="0"
                  [max]="settings?.urlSettings?.maxClickPerUrl || 1000"
                  placeholder="Enter a number from 0 to {{settings?.urlSettings?.maxClickPerUrl || 1000}}" />
                <mat-hint>Enter 0 for unlimited clicks, max {{settings?.urlSettings?.maxClickPerUrl || 1000}}</mat-hint>

                <mat-error *ngIf="urlForm.get('clickLimit')?.hasError('min')">Minimum is 0</mat-error>
                <mat-error *ngIf="urlForm.get('clickLimit')?.hasError('max')">Maximum is
                  {{settings?.urlSettings?.maxClickPerUrl || 1000}}</mat-error>
              </mat-form-field>

              <!-- Tags -->
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Tags</mat-label>
                <mat-icon matPrefix>label</mat-icon>
                <mat-select formControlName="tags" multiple placeholder="Select tags">
                  <mat-option *ngFor="let tag of tags" [value]="tag">{{ tag }}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>


        </form>
      </div>
    </section>
  </main>

  <div *ngIf=" isLoading "
    class="absolute inset-0 flex items-center justify-center bg-white bg-opacity-70 dark:bg-gray-900 dark:bg-opacity-50 z-50">
    <app-loader></app-loader>
  </div>

  <!-- Footer -->
  <app-user-footer></app-user-footer>
</div>