@use "@angular/material" as mat;
@use "./styles/typography" as *;
@use "./styles/light-theme" as *;
@use "./styles/dark-theme" as *;
@use "./styles/material-overrides";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Inter:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

// Optional Tailwind layer example
@layer base {
  body {
    @apply bg-[var(--background-color)] text-[var(--text-color)];
  }
}

.dark .mat-mdc-select-value-text,
.dark .mat-mdc-select-min-line {
  color: var(--text-color) !important;
}

.success-snackbar {
  --mdc-snackbar-container-color: var(--success-color);
  --mdc-snackbar-supporting-text-color: var(--text-color);
  --mat-mdc-snack-bar-button-color: var(--text-color);
}

.error-snackbar {
  --mdc-snackbar-container-color: var(--accent-color);
  --mdc-snackbar-supporting-text-color: var(--text-color);
  --mat-mdc-snack-bar-button-color: var(--text-color);
}

.warning-snackbar {
  --mdc-snackbar-container-color: var(--highlight-color);
  --mdc-snackbar-supporting-text-color: var(--text-color);
  --mat-mdc-snack-bar-button-color: var(--text-color);
}

.info-snackbar {
  --mdc-snackbar-container-color: var(--primary-color);
  --mdc-snackbar-supporting-text-color: var(--text-color);
  --mat-mdc-snack-bar-button-color: var(--text-color);
}

:root {
  @include mat.progress-bar-overrides(
    (
      active-indicator-color: var(--primary-color),
      track-color: #e5e7eb,
      active-indicator-height: 12px,
      track-height: 10px,
    )
  );

  @include mat.slide-toggle-overrides(
    (
      label-text-color: var(--text-color),
      unselected-handle-color: var(--text-color),
      disabled-unselected-track-color: rgba(0, 0, 0, 0.4),
      unselected-focus-handle-color: var(--text-color),
    )
  );
}
