@use "@angular/material" as mat;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@import "./styles/light-theme";
@import "./styles/dark-theme";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @include mat.button-overrides(
    (
      label-text-color: var(--text),
      hover-state-layer-opacity: 0.3,
    )
  );
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Inter", Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-accent {
  background-color: var(--accent-color);
}

.text-accent {
  color: var(--accent-color);
}

.bg-highlight {
  background-color: var(--highlight-color);
}

.text-highlight {
  color: var(--highlight-color);
}

.bg-success {
  background-color: var(--success-color);
}

.text-success {
  color: var(--success-color);
}
