@use "@angular/material" as mat;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Inter:wght@400;500;600&display=swap");

@import "./styles/typography.scss";
@import "./styles/light-theme";
@import "./styles/dark-theme";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-outlined-button {
  color: var(--text-color) !important;
}

// Dark theme input
.dark {
  // MDC text field overrides
  --mdc-outlined-text-field-label-text-color: var(--text-color);
  --mdc-outlined-text-field-input-text-color: var(--text-color);
  --mdc-outlined-text-field-hover-outline-color: var(--text-color);
  --mdc-outlined-text-field-outline-color: var(--text-color);
  --mdc-outlined-text-field-focus-outline-color: var(--primary-color);
  --mdc-outlined-text-field-supporting-text-color: var(--text-color);
  --mdc-outlined-text-field-error-outline-color: var(--error-color);
  --mdc-outlined-text-field-error-hover-outline-color: var(--error-color);
  --mdc-outlined-text-field-error-focus-outline-color: var(--error-color);

  // Apply it globally to inputs and labels
  .mat-mdc-form-field {
    color: var(--text-color) !important;
  }

  // Explicitly set label colors
  .mat-mdc-form-field .mat-mdc-floating-label,
  .mat-mdc-form-field.mat-focused .mat-mdc-floating-label {
    color: var(--text-color) !important;
  }

  // Ensure icons use the correct color
  .mat-icon,
  .mat-mdc-form-field .mat-mdc-form-field-icon-prefix,
  .mat-mdc-form-field .mat-mdc-form-field-icon-suffix {
    color: var(--text-color);
  }

  // Buttons and icon buttons
  .mat-mdc-icon-button,
  .mat-mdc-button {
    color: var(--text-color);
  }

  // Placeholder color
  input::placeholder {
    color: var(--text-color) !important;
  }
}

// Light theme input
:root {
  // MDC text field overrides
  --mdc-outlined-text-field-label-text-color: var(--text-color);
  --mdc-outlined-text-field-input-text-color: var(--text-color);
  --mdc-outlined-text-field-hover-outline-color: var(--text-color);
  --mdc-outlined-text-field-outline-color: var(--text-color);
  --mdc-outlined-text-field-focus-outline-color: var(--primary-color);
  --mdc-outlined-text-field-supporting-text-color: var(--text-color);
  --mdc-outlined-text-field-error-outline-color: var(--error-color);
  --mdc-outlined-text-field-error-hover-outline-color: var(--error-color);
  --mdc-outlined-text-field-error-focus-outline-color: var(--error-color);

  // Apply it globally to inputs and labels
  .mat-mdc-form-field {
    color: var(--text-color) !important;
  }

  // Explicitly set label colors
  .mat-mdc-form-field .mat-mdc-floating-label,
  .mat-mdc-form-field.mat-focused .mat-mdc-floating-label {
    color: var(--text-color) !important;
  }

  // Ensure icons use the correct color
  .mat-icon,
  .mat-mdc-form-field .mat-mdc-form-field-icon-prefix,
  .mat-mdc-form-field .mat-mdc-form-field-icon-suffix {
    color: var(--text-color);
  }

  // Buttons and icon buttons
  .mat-mdc-icon-button,
  .mat-mdc-button {
    color: var(--text-color);
  }

  // Placeholder color
  input::placeholder {
    color: var(--text-color) !important;
  }
}

.success-snackbar {
  --mdc-snackbar-container-color: var(--success-color);
  --mdc-snackbar-supporting-text-color: var(--text-color);
  --mat-mdc-snack-bar-button-color: var(--text-color);
}

.error-snackbar {
  --mdc-snackbar-container-color: var(--accent-color);
  --mdc-snackbar-supporting-text-color: var(--text-color);
  --mat-mdc-snack-bar-button-color: var(--text-color);
}

.warning-snackbar {
  --mdc-snackbar-container-color: var(--highlight-color);
  --mdc-snackbar-supporting-text-color: var(--text-color);
  --mat-mdc-snack-bar-button-color: var(--text-color);
}

.info-snackbar {
  --mdc-snackbar-container-color: var(--primary-color);
  --mdc-snackbar-supporting-text-color: var(--text-color);
  --mat-mdc-snack-bar-button-color: var(--text-color);
}

// Input hide border
.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
  .mdc-notched-outline__notch {
  border-right-style: hidden;
}
