<div class="flex flex-col h-screen">
    <app-user-header></app-user-header>
    <div class="flex-1 relative w-full bg-[var(--background-color)] text-[var(--text-color)] overflow-hidden"
        [class.active]="isActive">

        <!-- Sign Up -->
        <div class="absolute top-0 left-0 w-full sm:w-1/2 h-full flex flex-col items-center justify-center p-4 sm:p-10 transition-transform duration-700 ease-in-out"
            [ngClass]="{ 'translate-x-full opacity-100 z-30': isActive, 'opacity-0 sm:opacity-0 z-0': !isActive }">

            <h1 class="text-2xl sm:text-3xl font-bold mb-6">Create Account</h1>
            <div class="w-full max-w-md space-y-4">
                <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Name</mat-label>
                        <mat-icon matPrefix>person</mat-icon>
                        <input matInput type="text" placeholder="Enter your name" formControlName="username">
                        <button mat-icon-button matSuffix aria-label="Clear" *ngIf="registerForm.get('username')?.value"
                            (click)="registerForm.get('username')?.reset()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <app-validation-error [control]="registerForm.get('username')"></app-validation-error>

                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Email</mat-label>
                        <mat-icon matPrefix>email</mat-icon>
                        <input matInput type="email" placeholder="Enter your email" formControlName="email">
                        <button mat-icon-button matSuffix aria-label="Clear" *ngIf="registerForm.get('email')?.value"
                            (click)="registerForm.get('email')?.reset()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <app-validation-error [control]="registerForm.get('email')"></app-validation-error>

                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Password</mat-label>
                        <mat-icon matPrefix>lock</mat-icon>
                        <input matInput [type]="showRegisterPassword() ? 'text' : 'password'"
                            placeholder="Enter your password" formControlName="password">
                        <button mat-icon-button matSuffix type="button" (click)="toggleRegisterPassword()"
                            aria-label="Toggle password visibility">
                            <mat-icon>{{ showRegisterPassword() ? 'visibility' : 'visibility_off' }}</mat-icon>
                        </button>
                    </mat-form-field>
                    <app-validation-error [control]="registerForm.get('password')"></app-validation-error>

                    <button class="btn-primary" [disabled]="registerForm.invalid||isLoading">Sign Up</button>
                </form>

                <div class="relative my-6">
                    <div class="absolute inset-0 flex items-center">
                        <div class="w-full border-t" [style.border-color]="'var(--text-color)'"></div>
                    </div>
                    <div class="relative flex justify-center text-sm">
                        <span class="px-2" [style.background-color]="'var(--background-color)'"
                            [style.color]="'var(--text-color)'">Or continue with</span>
                    </div>
                </div>

                <button class="btn-google hover:bg-gray-200 dark:hover:bg-gray-700">
                    <svg class="w-5 h-5 mr-2" viewBox="0 0 48 48">
                        <svg class="w-5 h-5 mr-2" viewBox="0 0 48 48">
                            <path fill="#EA4335"
                                d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z">
                            </path>
                            <path fill="#4285F4"
                                d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z">
                            </path>
                            <path fill="#FBBC05"
                                d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z">
                            </path>
                            <path fill="#34A853"
                                d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z">
                            </path>
                        </svg>
                    </svg>
                    Sign up with Google
                </button>

                <div class="mt-4 text-center sm:hidden">
                    <a class="text-blue-500 cursor-pointer" (click)="toggleForm()">
                        Already have an account? Sign In
                    </a>
                </div>

            </div>
        </div>

        <!-- Sign In -->
        <div class="absolute top-0 left-0 w-full sm:w-1/2 h-full flex flex-col items-center justify-center p-4 sm:p-10 transition-transform duration-700 ease-in-out z-10"
            [ngClass]="{ 'translate-x-0 opacity-100': !isActive, 'translate-x-full opacity-0': isActive }">

            <h1 class="text-2xl sm:text-3xl font-bold mb-6">Sign In</h1>
            <div class="w-full max-w-md space-y-4">
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Email</mat-label>
                        <mat-icon matPrefix>email</mat-icon>
                        <input matInput type="email" placeholder="Enter your email" formControlName="email">
                        <button mat-icon-button matSuffix aria-label="Clear" *ngIf="loginForm.get('email')?.value"
                            (click)="loginForm.get('email')?.reset()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <app-validation-error [control]="loginForm.get('email')"></app-validation-error>

                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Password</mat-label>
                        <mat-icon matPrefix>lock</mat-icon>
                        <input matInput [type]="showLoginPassword() ? 'text' : 'password'"
                            placeholder="Enter your password" formControlName="password">
                        <button mat-icon-button matSuffix type="button" (click)="toggleLoginPassword()"
                            aria-label="Toggle password visibility">
                            <mat-icon>{{ showLoginPassword() ? 'visibility' : 'visibility_off' }}</mat-icon>
                        </button>
                    </mat-form-field>
                    <app-validation-error [control]="loginForm.get('password')"></app-validation-error>

                    <button class="btn-primary" [disabled]="loginForm.invalid||isLoading">Sign In</button>
                </form>

                <div class="relative my-6">
                    <div class="absolute inset-0 flex items-center">
                        <div class="w-full border-t" [style.border-color]="'var(--text-color)'"></div>
                    </div>
                    <div class="relative flex justify-center text-sm">
                        <span class="px-2" [style.background-color]="'var(--background-color)'"
                            [style.color]="'var(--text-color)'">Or continue with</span>
                    </div>
                </div>

                <button class="btn-google hover:bg-gray-200 dark:hover:bg-gray-700">
                    <svg class="w-5 h-5 mr-2" viewBox="0 0 48 48">
                        <svg class="w-5 h-5 mr-2" viewBox="0 0 48 48">
                            <path fill="#EA4335"
                                d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z">
                            </path>
                            <path fill="#4285F4"
                                d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z">
                            </path>
                            <path fill="#FBBC05"
                                d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z">
                            </path>
                            <path fill="#34A853"
                                d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z">
                            </path>
                        </svg>
                    </svg>
                    Sign in with Google
                </button>

                <div class="mt-4 text-center sm:hidden">
                    <a class="text-blue-500 cursor-pointer" (click)="toggleForm()">
                        Don't have an account? Sign Up
                    </a>
                </div>

            </div>
        </div>

        <!-- Toggle Panel (Hidden on mobile) -->
        <div class="absolute top-0 left-0 sm:left-1/2 w-full sm:w-1/2 h-full hidden sm:flex flex-col items-center justify-center text-center px-8 transition-transform duration-700 ease-in-out"
            [ngClass]="{ '-translate-x-full': isActive }">

            <div class="max-w-sm">
                <h2 class="text-3xl sm:text-4xl font-bold mb-4"> {{ isActive ? 'Welcome Back to Short Lynkr!' : 'Join
                    Short Lynkr
                    Today!' }}</h2>
                <p class="mb-8 text-lg font-light">
                    {{ isActive ? 'Manage your links and track QR code scans effortlessly.': 'Simplify your links and
                    generate dynamic QR codes in seconds.'}}
                </p>
                <button mat-stroked-button (click)="toggleForm()"
                    class="rounded-md hover:bg-gray-200 dark:hover:bg-gray-700">
                    <mat-icon class="mr-2">
                        {{ isActive ? 'login' : 'person_add' }}
                    </mat-icon>
                    {{ isActive ? 'Sign In' : 'Sign Up' }}
                </button>
            </div>

        </div>
    </div>

    <!-- Loading Overlay -->
    <div *ngIf="isLoading"
        class="absolute inset-0 flex items-center justify-center bg-white bg-opacity-70 dark:bg-gray-900 dark:bg-opacity-50 z-50">
        <app-loader></app-loader>
    </div>

    <app-user-footer></app-user-footer>
</div>