<div class="flex flex-col min-h-screen bg-inherit text-[var(--text-color)]">
    <div class="page-wrapper bg-white dark:bg-gray-900">
        <app-theme-toggle class="flex justify-end mt-4 mr-4"></app-theme-toggle>

        <!-- Numbers -->
        <div class="numbers-layer z-20 pointer-events-none">
            <div *ngFor="let number of getNumberArray(); let i = index" class="number"
                [class.-with-shadow]="isWithShadow(i)">
                {{ number }}
            </div>
        </div>

        <!-- Error Message -->
        <div class="oops-message">
            <div class="w-full max-w-md mx-auto">
                <img [src]="errorConfig.lightGif" [alt]="errorConfig.code + ' Illustration - Light Mode'"
                    class="object-contain dark:hidden w-full h-full" />
                <img [src]="errorConfig.darkGif" [alt]="errorConfig.code + ' Illustration - Dark Mode'"
                    class="object-contain hidden dark:block w-full h-full" />
            </div>

            <h2 class="text-3xl font-semibold mb-6 mt-4">{{ errorConfig.title }}</h2>
            <p class="text-center text-gray-700 dark:text-gray-300 mb-6">
                {{ errorConfig.message }}
            </p>

            <button (click)="goHome()" class="button px-6 py-3 rounded-lg shadow-lg hover:shadow-xl border transition">
                Go Back Home
            </button>
        </div>
    </div>
</div>