<div
    class="bg-white dark:bg-gray-800 rounded-2xl shadow-2xl p-6 h-full flex flex-col hover:scale-105 border border-gray-200 dark:border-gray-700">
    <h2 class="text-xl font-semibold mb-6">{{ title }}</h2>
    <div class="relative flex-grow h-96">
        <app-analytics-chart [chartType]="chartType" [data]="data" [labels]="labels" [title]="title"
            [loading]="loading">
        </app-analytics-chart>

        <div *ngIf="!loading && data.length === 0">
            <app-no-data [variant]="noDataVariant" [icon]="noDataIcon" [title]="noDataTitle"
                [description]="noDataDescription">
            </app-no-data>
        </div>
        
    </div>

    <div *ngIf="data.length > 0 && !loading" class="mt-6">
        <h2 class="text-lg font-semibold mb-4 text-center"> Top {{ valueData.length > 6 ? 6 : valueData.length }} {{
            title }}</h2>

        <div [ngClass]="gridClass + ' gap-4 mt-4 text-center'">
            <div *ngFor="let item of valueData | slice:0:6" class="text-center flex flex-col items-center">
                <!-- Icon -->
                <div class="text-3xl mb-2">
                    <i [ngClass]="iconMap[item.name] || fallbackIcon"></i>
                </div>

                <!-- Percentage -->
                <div class="text-2xl font-bold">{{ item.percentage }}%</div>

                <!-- Label -->
                <div class="text-sm text-gray-500">
                    {{ item.name }} ({{ item.value }})
                </div>
            </div>
        </div>

    </div>

</div>