<nav class="bg-[var(--background-color)] text-[var(--text-color)]">

  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-20 items-center">
      <!-- Logo -->
      <div class="flex items-center space-x-3">
        <!-- Logo Images with Dark Mode Support -->
        <img src="/assets/logo-light.png" alt="ShortLynkr logo light"
          class="h-10 w-10 object-contain block dark:hidden">
        <img src="/assets/logo-dark.png" alt="ShortLynkr logo dark" class="h-10 w-10 object-contain hidden dark:block">
        <span class="text-2xl font-extrabold">Short Lynkr</span>
      </div>

      <!-- Desktop Navigation Links (Hidden on Mobile) -->
      <div class="hidden md:flex items-center space-x-8 font-extrabold">
        <a href="#" class="hover:text-primary transition-colors">Home</a>
        <a href="#" class="hover:text-primary transition-colors">Pricing</a>
        <a href="#" class="hover:text-primary transition-colors">Features</a>
      </div>

      <!-- Right Section -->
      <div class="flex items-center space-x-2">
        <app-theme-toggle class="hidden md:block"></app-theme-toggle>
        <button mat-button class="hidden md:inline-flex items-center hover:bg-gray-200 dark:hover:bg-gray-700">
          <mat-icon>login</mat-icon>
          <span class="ml-1">Sign In</span>
        </button>

        <!-- Mobile Menu Button -->
        <button id="mobile-menu-button"
          class="md:hidden p-2 rounded-md text-gray-600  hover:bg-gray-100 dark:hover:bg-gray-800">
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </div>
  </div>

</nav>