mat-error {
  margin-left: -1rem;
}

.qr-preview-box {
  width: 100%;
  max-width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  overflow: hidden;

  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}
