<nav class="bg-[var(--background-color)] text-[var(--text-color)]">
  <div class="max-w-screen-2xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-20 items-center">
      <!-- Logo -->
      <div class="flex items-center gap-4 ml-2">
        <img src="/assets/logo-light.png" alt="ShortLynkr logo light" class="h-10 w-10 object-contain dark:hidden">
        <img src="/assets/logo-dark.png" alt="ShortLynkr logo dark" class="h-10 w-10 object-contain hidden dark:block">
        <span class="text-xl lg:text-2xl font-extrabold"> {{ appName }} </span>
      </div>

      <!-- Desktop Links -->
      <div class="hidden sm:flex items-center space-x-8 text-base lg:text-xl font-semibold">
        <a *ngFor="let item of menuItems" [routerLink]="item.link" class="hover:text-primary transition-colors">
          {{ item.label }}
        </a>
      </div>

      <!-- Right Section -->
      <div class="flex items-center space-x-3">
        <app-theme-toggle class="hidden sm:block"></app-theme-toggle>

        <!-- Notification Button -->
        <button *ngIf="user" mat-icon-button (click)="showNotificationsMenu = !showNotificationsMenu"
          class="hidden sm:block relative text-gray-600 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700">

          <mat-icon [ngClass]="{'animate-slow-ring': totalUnread() > 0}">
            notifications_active
          </mat-icon>

          <span *ngIf="totalUnread() > 0"
            class="absolute top-0 right-0 -mt-1 -mr-1 px-1 sm:px-2 py-1 text-xs font-bold bg-red-600 text-white rounded-full animate-bounce">
            {{ totalUnread() }}
          </span>
        </button>

        <!-- Notification Menu Component -->
        <div *ngIf="showNotificationsMenu" (appClickOutside)="showNotificationsMenu = false"
          class="absolute top-20 right-3 z-50">

          <app-notification-menu [role]="'user'" (menuClosed)="showNotificationsMenu = false"></app-notification-menu>
        </div>

        <!-- Authenticated User -->
        <ng-container *ngIf="user; else guest">
          <div class="relative" [ngClass]="{ 'group': !isMobile }" (click)="toggleMobileDropdown()"
            (appClickOutside)="mobileDropdownOpen = false">
            <img [src]="'https://api.dicebear.com/7.x/initials/svg?seed=' + username" class="h-14 w-14 object-cover rounded-full cursor-pointer
             border-2 border-gray-900 dark:border-white
             hover:border-blue-500 dark:hover:border-blue-500
             transition-all duration-300 ease-in-out" [ngClass]="{ 'hover:scale-125': !isMobile }" />

            <!-- Dropdown -->
            <div class="absolute right-0 w-48 bg-white dark:bg-gray-800 rounded-2xl shadow-2xl py-2 z-50
              transition-all duration-300 ease-in-out" [ngClass]="{
            'opacity-0 pointer-events-none group-hover:opacity-100 group-hover:pointer-events-auto': !isMobile,
            'block': isMobile && mobileDropdownOpen,
            'hidden': isMobile && !mobileDropdownOpen
             }">

              <a routerLink="/user/my-urls"
                class="flex items-center gap-2 px-4 py-2 hover:text-primary transition-colors"
                (click)="mobileDropdownOpen = false">
                <mat-icon class="text-inherit transition-colors">link</mat-icon>
                My URLs
              </a>

              <a routerLink="/user/profile"
                class="flex items-center gap-2 px-4 py-2 hover:text-primary transition-colors"
                (click)="mobileDropdownOpen = false">
                <mat-icon class="text-inherit transition-colors">person</mat-icon>
                Profile
              </a>

              <a routerLink="/user/my-qrs" class="flex items-center gap-2 px-4 py-2 hover:text-primary transition-colors"
                (click)="mobileDropdownOpen = false">
                <mat-icon class="text-inherit transition-colors">qr_code</mat-icon>
                My QRs
              </a>

              <a routerLink="/user/notifications"
                class="flex items-center gap-2 px-4 py-2 hover:text-primary transition-colors"
                (click)="mobileDropdownOpen = false">
                <mat-icon class="text-inherit transition-colors">notifications</mat-icon>
                Notifications
              </a>

              <button (click)="logout(); mobileDropdownOpen = false"
                class="flex items-center gap-2 w-full text-left px-4 py-2 hover:text-primary transition-colors">
                <mat-icon class="text-inherit transition-colors">logout</mat-icon>
                Logout
              </button>
            </div>

          </div>
        </ng-container>


        <!-- Guest -->
        <ng-template #guest>
          <button mat-stroked-button routerLink="/auth/sign-in"
            class="hidden sm:inline-flex items-center  hover:bg-gray-200 dark:hover:bg-gray-700">
            <mat-icon>login</mat-icon>
            <span class="ml-1">Sign In</span>
          </button>
        </ng-template>

        <!-- Mobile Menu Button -->
        <button (click)="toggleMobileMenu()" mat-icon-button class="sm:hidden">
          <mat-icon>menu</mat-icon>
        </button>

      </div>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div *ngIf="mobileMenuOpen" (appClickOutside)="mobileMenuOpen = false"
    class="sm:hidden absolute p-5 left-5 right-5 rounded-2xl shadow-2xl  bg-white dark:bg-gray-800 z-50">
    <div class="flex flex-col px-4">
      <app-theme-toggle class="absolute top-0 right-0 pt-4 pr-4"></app-theme-toggle>

      <!-- Notification Button -->
      <button *ngIf="user" mat-icon-button (click)="showNotificationsMenu = !showNotificationsMenu"
        class="absolute bottom-0 right-0 mb-5 mr-4">

        <mat-icon [ngClass]="{'animate-slow-ring': totalUnread() > 0}">
          notifications_active
        </mat-icon>

        <span *ngIf="totalUnread() > 0"
          class="absolute top-0 right-0 -mt-1 -mr-1 px-2 py-1 text-xs font-bold bg-red-600 text-white rounded-full animate-bounce">
          {{ totalUnread() }}
        </span>
      </button>

      <!-- Notification Menu Component -->
      <div *ngIf="showNotificationsMenu" (appClickOutside)="showNotificationsMenu = false"
        class="absolute top-20 right-3 z-50">

        <app-notification-menu [role]="'admin'" (menuClosed)="showNotificationsMenu = false"></app-notification-menu>
      </div>

      <a *ngFor="let item of menuItems" [routerLink]="item.link" (click)="mobileMenuOpen = false"
        class="block px-4 py-2 hover:text-primary transition-colors">
        {{ item.label }}
      </a>

      <!-- If unauthenticated -->
      <ng-container *ngIf="!user">
        <a *ngFor="let guestItem of guestMenuItems" [routerLink]="guestItem.link" (click)="mobileMenuOpen = false"
          class="block px-4 py-2 hover:text-primary transition-colors">
          {{ guestItem.label }}
        </a>
      </ng-container>

    </div>

  </div>

</nav>