<h2 mat-dialog-title class="text-2xl font-bold">Customize URL</h2>

<mat-dialog-content class="space-y-4 py-4">
    <!-- Custom Domain -->
    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Custom Domain</mat-label>
        <mat-icon matPrefix>language</mat-icon>
        <input matInput [(ngModel)]="updatedUrl.customDomain" />
    </mat-form-field>

    <!-- Custom Short Code -->
    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Custom Short Code</mat-label>
        <mat-icon matPrefix>link</mat-icon>
        <input matInput [(ngModel)]="updatedUrl.shortId" />
    </mat-form-field>

    <!-- Expiry in Days -->
    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Expiry in Days</mat-label>
        <mat-icon matPrefix>schedule</mat-icon>
        <input matInput type="number" [(ngModel)]="expiryDays" min="1" />
    </mat-form-field>

    <!-- Expiry Date (read-only) -->
    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Expiry Date</mat-label>
        <mat-icon matPrefix>event</mat-icon>
        <input matInput [value]="todayPlusDays(expiryDays) | date:'dd-MM-yyyy'" readonly />
    </mat-form-field>
</mat-dialog-content>


<mat-dialog-actions align="end" class="space-x-2">
    <button mat-stroked-button class="transition-all duration-300 hover:-translate-y-1 rounded-lg border"
        (click)="close()">
        <span class="text-lg font-medium text-[var(--secondary-color)]">
            Cancel
        </span>
        <mat-icon class="ml-2 text-[var(--secondary-color)]">cancel</mat-icon>
    </button>
    <button mat-stroked-button class="transition-all duration-300 hover:-translate-y-1 rounded-lg border"
        (click)="save()">
        <span class="text-lg font-medium text-[var(--primary-color)]">
            Save
        </span>
        <mat-icon class="ml-2 text-[var(--primary-color)]">save</mat-icon>
    </button>
</mat-dialog-actions>
