<h2 mat-dialog-title class="text-2xl font-bold">Customize URL</h2>

<mat-dialog-content class="space-y-4 py-4">

    <!-- Custom Short Code -->
    <mat-form-field appearance="outline" class="w-full" *ngIf="settings?.urlSettings?.allowCustomSlugs">
        <mat-label>Custom Short Code</mat-label>
        <mat-icon matPrefix>link</mat-icon>
        <input matInput [(ngModel)]="updatedUrl.shortId" #shortId="ngModel" noWhitespace minlength="4"
            [maxlength]="settings?.urlSettings?.defaultLength || 8" placeholder="e.g. my-custom-link"
            pattern="^[a-zA-Z0-9_-]*$" />
        <mat-error *ngIf="shortId.errors?.['whitespace']">
            Cannot contain only spaces
        </mat-error>

        <mat-error *ngIf="shortId.errors?.['leadingOrTrailingSpace']">
            Remove leading or trailing spaces
        </mat-error>

        <mat-error *ngIf="shortId.errors?.['multipleSpaces']">
            Only one space allowed between words
        </mat-error>

        <mat-error
            *ngIf="!shortId.errors?.['whitespace'] && !shortId.errors?.['leadingOrTrailingSpace'] && !shortId.errors?.['multipleSpaces'] && !shortId.errors?.['minlength'] && shortId.errors?.['pattern']">
            Only letters, numbers, underscores (_), or hyphens (-) are allowed.
        </mat-error>

        <mat-error
            *ngIf="!shortId.errors?.['whitespace'] && !shortId.errors?.['leadingOrTrailingSpace'] && !shortId.errors?.['multipleSpaces'] && shortId.errors?.['minlength']">
            Minimum 4 characters required.
        </mat-error>

        <mat-error
            *ngIf="!shortId.errors?.['whitespace'] && !shortId.errors?.['leadingOrTrailingSpace'] && !shortId.errors?.['multipleSpaces'] && shortId.errors?.['maxlength']">
            Maximum {{ settings?.urlSettings?.defaultLength || 8 }} characters allowed.
        </mat-error>

    </mat-form-field>

    <!-- Expiry in Days -->
    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Expiry in Days</mat-label>
        <mat-icon matPrefix>schedule</mat-icon>
        <input matInput type="number" [(ngModel)]="expiryDays" #expiryDaysModel="ngModel" min="0"
            [max]="settings?.urlSettings?.expirationDaysLimit || 100"
            placeholder="Enter a number from 0 to {{settings?.urlSettings?.expirationDaysLimit || 365}}" />
        <mat-hint>Enter 0 for no expiration, max {{settings?.urlSettings?.expirationDaysLimit || 365}}</mat-hint>
        <mat-error *ngIf="expiryDaysModel.errors?.['min']">Minimum value is 0.</mat-error>
        <mat-error *ngIf="expiryDaysModel.errors?.['max']">Maximum value is
            {{ settings?.urlSettings?.expirationDaysLimit || 100 }}.</mat-error>
    </mat-form-field>

    <!-- Expiry Date (read-only) -->
    <mat-form-field appearance="outline" class="w-full" *ngIf="expiryDays > 0">
        <mat-label>Expiry Date</mat-label>
        <mat-icon matPrefix>event</mat-icon>
        <input matInput [value]="todayPlusDays(expiryDays) | date:'dd-MM-yyyy'" readonly />
    </mat-form-field>

    <!-- Click Limit -->
    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Click Limit</mat-label>
        <mat-icon matPrefix>mouse</mat-icon>
        <input matInput type="number" name="clickLimit" [(ngModel)]="updatedUrl.clickLimit"
            [ngModelOptions]="{ updateOn: 'change' }" #clickLimit="ngModel" min="0"
            [max]="settings?.urlSettings?.maxClickPerUrl || 1000"
            placeholder="Enter a number from 0 to {{settings?.urlSettings?.maxClickPerUrl || 1000}}"
            [validateClickLimit]="data.clicks">
        <mat-hint>Enter 0 for unlimited clicks, max {{settings?.urlSettings?.maxClickPerUrl || 1000}}</mat-hint>
        <mat-error *ngIf="clickLimit.errors?.['min']">Minimum value is 0.</mat-error>
        <mat-error *ngIf="clickLimit.errors?.['max']">Maximum value is {{settings?.urlSettings?.maxClickPerUrl ||
            1000}}.</mat-error>
        <mat-error
            *ngIf="!clickLimit.errors?.['min'] && !clickLimit.errors?.['max'] && clickLimit.errors?.['clickLimitInvalid']">
            Click limit must be greater than total click count ({{ data.clicks }})
        </mat-error>
    </mat-form-field>


    <!-- Tags -->
    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Tag</mat-label>
        <mat-icon matPrefix>label</mat-icon>
        <mat-select [(ngModel)]="updatedUrl.tags" multiple placeholder="Select tags">
            <mat-option *ngFor="let tag of tags" [value]="tag">
                {{ tag }}
            </mat-option>
        </mat-select>
    </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions align="end" class="space-x-2">
    <button mat-stroked-button class="transition-all duration-300 hover:-translate-y-1 rounded-lg border"
        (click)="close()">
        <span class="text-lg font-medium text-[var(--secondary-color)]">Cancel</span>
        <mat-icon class="ml-2 text-[var(--secondary-color)]">cancel</mat-icon>
    </button>
    <button mat-stroked-button class="transition-all duration-300 hover:-translate-y-1 rounded-lg border"
        (click)="save()" [disabled]="isFormInvalid">
        <span class="text-lg font-medium text-[var(--primary-color)]">Save</span>
        <mat-icon class="ml-2 text-[var(--primary-color)]">save</mat-icon>
    </button>

</mat-dialog-actions>