<div
    class="bg-white dark:bg-gray-800 rounded-2xl shadow-2xl p-6 transition-transform hover:scale-105 h-full border border-gray-200 dark:border-gray-700">
    <div class="flex justify-between items-start">
        <div>
            <p class="text-gray-500 dark:text-gray-400">{{ title }}</p>
            <p class="mt-2 text-2xl font-bold flex items-center gap-2">
                <!-- Show flag only -->
                <ng-container *ngIf="iconType === 'flag' && flagClass">
                    <span [ngClass]="flagClass || 'fi fi-un'" class="text-4xl hover:scale-125"></span>
                </ng-container>

                <!-- Show mapped icon -->
                <ng-container *ngIf="iconType === 'map'">
                    <i [ngClass]="iconMap[value] || fallbackIcon"></i>
                </ng-container>

                {{ value }}
            </p>
        </div>
        <div class="p-3 rounded-xl flex justify-center items-center" [ngClass]="iconBgClass">
            <mat-icon [ngClass]="iconColorClass">{{ icon }}</mat-icon>
        </div>
    </div>
    <div class="mt-4" *ngIf="changeText">
        <div class="flex items-center" [ngClass]="change >= 0 ? 'text-green-500' : 'text-red-500'">
            <mat-icon [ngClass]="change >= 0 ? 'text-green-500' : 'text-red-500'">
                {{ change >= 0 ? 'arrow_upward' : 'arrow_downward' }}
            </mat-icon>
            <span class="ml-1">{{ change }}% {{ changeText }}</span>
        </div>
    </div>

</div>