<div
    class="flex flex-col items-center justify-center flex-1 min-h-[calc(100vh-7rem-6rem)] px-6 bg-gray-100 dark:bg-gray-800 text-center">

    <!-- Icon -->
    <i [class]="icon + ' text-7xl text-gray-600 dark:text-gray-400 mb-4 animate-bounce'"></i>

    <!-- Title -->
    <h3 class="text-xl sm:text-2xl font-semibold text-gray-800 dark:text-gray-100 mb-2">
        {{ title }}
    </h3>

    <!-- Description -->
    <p class="text-gray-500 dark:text-gray-400 mb-6 max-w-xl">
        {{ description }}
    </p>

    <!-- Buttons -->
    <div class="flex flex-col sm:flex-row gap-4">
        <!-- Main Action -->
        <button *ngIf="actionText && actionRoute" (click)="navigate()"
            class="flex text-sm sm:text-base items-center gap-2 bg-blue-600 dark:bg-blue-500 text-white px-6 py-3 rounded-lg hover:bg-blue-800 dark:hover:bg-blue-700 transition shadow-md">
            <i [class]="actionIcon"></i>
            {{ actionText }}
        </button>

        <!-- Clear / Reset Button -->
        <button *ngIf="clearText && clearCallback" (click)="clear()"
            class="flex items-center gap-2 bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-gray-200 px-6 py-3 rounded-lg hover:bg-gray-300 dark:hover:bg-gray-600 transition shadow-xl">
            <i [class]="clearIcon"></i>
            {{ clearText }}
        </button>
    </div>

</div>