<div
    class="bg-white dark:bg-gray-800 rounded-2xl shadow-xl p-6 h-full flex flex-col hover:scale-105 border border-gray-200 dark:border-gray-700">

    <!-- Title -->
    <h2 class="text-xl font-bold text-gray-900 dark:text-gray-100 mb-6 flex items-center gap-2">
        {{ title }}
    </h2>

    <!-- No Data -->
    <div class="relative flex-grow h-96" *ngIf="items.length === 0">
        <app-no-data [variant]="noDataVariant" [icon]="noDataIcon" [title]="noDataTitle"
            [description]="noDataDescription">
        </app-no-data>
    </div>


    <!-- Items -->
    <div class="space-y-4" *ngIf="items.length > 0">
        <div *ngFor="let item of items">
            <div
                class="p-3 rounded-xl bg-gray-100 dark:bg-gray-900/60 flex flex-col gap-2 shadow-md hover:shadow-lg hover:scale-105">

                <!-- Row: Icon + Name + Value -->
                <div class="flex items-center justify-between mb-2">
                    <div class="flex items-center gap-2">
                        <ng-container
                            *ngIf="title.includes('Top Countries')&& item.name !== 'Unknown'; else normalIcon">
                            <span class="fi fi-{{ item.name | lowercase }}"></span>
                        </ng-container>
                        <ng-template #normalIcon>
                            <i [ngClass]="iconMap[item.name] || fallbackIcon"></i>
                        </ng-template>
                        <span class="text-sm font-medium text-gray-700 dark:text-gray-300">
                            {{ getFullName(item) }} ({{ item.value }})
                        </span>
                    </div>
                    <span class="text-sm font-semibold text-gray-600 dark:text-gray-300">
                        {{ item.percentage }}%
                    </span>
                </div>

                <!-- Progress bar -->
                <div class="rounded-full overflow-hidden bg-gray-200 dark:bg-gray-700 mb-2" *ngIf="showProgressBar">
                    <mat-progress-bar mode="determinate" [value]="item.percentage"></mat-progress-bar>
                </div>
            </div>

        </div>

    </div>
</div>