<div class="h-full flex flex-col overflow-hidden" [ngClass]="{ 'items-center': collapsed, 'items-start': !collapsed }">

    <!-- Logo -->
    <div class="flex items-center justify-center p-5 w-full border-b border-gray-300 dark:border-gray-700"
        [ngClass]="{ 'justify-center': collapsed, 'justify-start': !collapsed }">
        <a [routerLink]="['/']" class="flex items-center">
            <div class="flex-shrink-0">
                <img src="/assets/logo-light.png" alt="ShortLynkr logo light"
                    class="h-10 w-auto scale-125 object-contain dark:hidden" />
                <img src="/assets/logo-dark.png" alt="ShortLynkr logo dark"
                    class="h-10 w-auto scale-125 object-contain hidden dark:block" />
            </div>
            <span *ngIf="!collapsed"
                class="ml-3 text-2xl font-bold text-gray-800 dark:text-gray-100 transition-opacity duration-300">
                {{ appName }}
            </span>
        </a>
    </div>

    <!-- Nav Links -->
    <nav class="flex-1 flex flex-col space-y-2 mt-6 w-full px-2">
        @for(item of items; track $index){
        <a [routerLink]="item.routeLink" routerLinkActive="bg-blue-300 dark:bg-primary"
            [routerLinkActiveOptions]="{ exact: false }"
            class="flex items-center w-full h-12 rounded-lg px-4 hover:bg-gray-100 dark:hover:bg-gray-700 transition-all duration-300 group"
            [matTooltip]="item.label" matTooltipPosition="right" [matTooltipDisabled]="!collapsed"
            (click)="onLinkClick()">
            <mat-icon
                class="text-gray-600 dark:text-gray-300 icon-size-transform flex-shrink-0 group-[.router-link-active]:text-white transition-colors duration-300"
                [ngClass]="{ 'mx-auto': collapsed }">{{item.icon}}</mat-icon>
            <span *ngIf="!collapsed" class="ml-4 text-lg">{{item.label}}</span>
        </a>
        }
    </nav>

    <div class="flex flex-col py-4 space-y-2 mt-6 w-full px-2 border-t border-gray-300 dark:border-gray-600">
        <a routerLink="/admin/settings" routerLinkActive="bg-blue-300 dark:bg-primary"
            class="flex items-center w-full h-12 rounded-lg px-4 hover:bg-gray-100 dark:hover:bg-gray-700 transition-all duration-300 group"
            matTooltip="Settings" matTooltipPosition="right" [matTooltipDisabled]="!collapsed" (click)="onLinkClick()">
            <mat-icon
                class="text-gray-600 dark:text-gray-300 icon-size-transform flex-shrink-0 group-[.router-link-active]:text-white transition-colors duration-300"
                [ngClass]="{ 'mx-auto': collapsed }">settings</mat-icon>
            <span *ngIf="!collapsed" class="ml-4 text-lg">Settings</span>
        </a>
    </div>
</div>