<nav class="bg-[var(--background-color)] text-[var(--text-color)]">
  <div class="max-w-screen-2xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-20 items-center">
      <!-- Logo -->
      <div class="flex items-center gap-4 ml-2">
        <img src="/assets/logo-light.png" alt="ShortLynkr logo light" class="h-10 w-10 object-contain dark:hidden">
        <img src="/assets/logo-dark.png" alt="ShortLynkr logo dark" class="h-10 w-10 object-contain hidden dark:block">
        <span class="text-2xl font-extrabold">Short Lynkr</span>
      </div>

      <!-- Desktop Links -->
      <div class="hidden sm:flex items-center space-x-8 text-lg sm:text-xl font-semibold">
        <a routerLink="/" class="hover:text-primary transition-colors">Home</a>
        <a routerLink="/pricing" class="hover:text-primary transition-colors">Pricing</a>
        <a routerLink="/features" class="hover:text-primary transition-colors">Features</a>
      </div>

      <!-- Right Section -->
      <div class="flex items-center space-x-3">
        <app-theme-toggle class="hidden sm:block"></app-theme-toggle>

        <!-- Authenticated User -->
        <ng-container *ngIf="user; else guest">
          <div class="relative" [ngClass]="{ 'group': !isMobile }" (click)="toggleMobileDropdown()"
            (appClickOutside)="mobileDropdownOpen = false">
            <img [src]="'https://api.dicebear.com/7.x/initials/svg?seed=' + username" class="h-14 w-14 object-cover rounded-full cursor-pointer
             border-2 border-gray-900 dark:border-white
             hover:border-blue-500 dark:hover:border-blue-500
             transition-all duration-300 ease-in-out" [ngClass]="{ 'hover:scale-125': !isMobile }" />

            <!-- Dropdown -->
            <div class="absolute right-0 w-48 bg-white dark:bg-gray-800 rounded-2xl shadow-2xl py-2 z-50
              transition-all duration-300 ease-in-out" [ngClass]="{
            'opacity-0 pointer-events-none group-hover:opacity-100 group-hover:pointer-events-auto': !isMobile,
            'block': isMobile && mobileDropdownOpen,
            'hidden': isMobile && !mobileDropdownOpen
             }">
              <a routerLink="/user/my-urls" class="block px-4 py-2 hover:text-primary transition-colors"
                (click)="mobileDropdownOpen = false">My URLs</a>
              <a routerLink="/user/profile" class="block px-4 py-2 hover:text-primary transition-colors"
                (click)="mobileDropdownOpen = false">Profile</a>
              <a routerLink="/qr" class="block px-4 py-2 hover:text-primary transition-colors"
                (click)="mobileDropdownOpen = false">QR Generator</a>
              <button (click)="logout(); mobileDropdownOpen = false"
                class="block w-full text-left px-4 py-2 hover:text-primary transition-colors">
                Logout
              </button>
            </div>

          </div>
        </ng-container>


        <!-- Guest -->
        <ng-template #guest>
          <button mat-stroked-button routerLink="/auth/sign-in"
            class="hidden sm:inline-flex items-center  hover:bg-gray-200 dark:hover:bg-gray-700">
            <mat-icon>login</mat-icon>
            <span class="ml-1">Sign In</span>
          </button>
        </ng-template>

        <!-- Mobile Menu Button -->
        <button (click)="toggleMobileMenu()" mat-icon-button class="sm:hidden">
          <mat-icon>menu</mat-icon>
        </button>

      </div>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div *ngIf="mobileMenuOpen" (appClickOutside)="mobileMenuOpen = false"
    class="sm:hidden absolute p-5 left-5 right-5 rounded-2xl shadow-2xl  bg-white dark:bg-gray-800 z-50">
    <div class="flex items-center justify-between px-4">
      <a routerLink="/" (click)="mobileMenuOpen = false" class="block hover:text-primary transition-colors ">Home</a>
      <app-theme-toggle></app-theme-toggle>
    </div>
    <a routerLink="/pricing" (click)="mobileMenuOpen = false"
      class="block px-4 py-2 hover:text-primary transition-colors ">Pricing</a>
    <a routerLink="/features" (click)="mobileMenuOpen = false"
      class="block px-4 py-2 hover:text-primary transition-colors ">Features</a>
    <a routerLink="/auth/sign-in" *ngIf="!user" (click)="mobileMenuOpen = false"
      class="block px-4 py-2 hover:text-primary transition-colors ">Sign In</a>
    <a routerLink="/auth/sign-up" *ngIf="!user" (click)="mobileMenuOpen = false"
      class="block px-4 py-2 hover:text-primary transition-colors">Sign Up</a>
  </div>

</nav>