.dark {
  --background-color: #111827;
  --text-color: #ffffff;
  --primary-color: #2161e0;
  --accent-color: #fe4e3e;
  --highlight-color: #ffa114;
  --success-color: #0e8160;
  --error-color: #ff0000;
  --row-bg-odd: rgba(255, 255, 255, 0.05);
  --row-hover-bg: rgba(255, 255, 255, 0.1);
}
