.dark {
  --background-color: #111827;
  --text-color: #ffffff;
  --primary-color: #2161E0;
  --accent-color: #FE4E3E;
  --highlight-color: #FFA114;
  --success-color: #0E8160;
  --error-color: #ff0000; 
}
